.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  min-height: 100vh;
  width: calc(100% - 80px);
}

.contactContainer .headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.contactContainer .headers h1 {
  font-size: 6.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--fifth-color);
}

.contactContainer .headers p {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
  .contactContainer {
    margin-left: 100px;
    width: calc(100% - 100px);
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 8.5rem;
  }
  
  .contactContainer .headers p {
    font-size: 3rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 820px) {
  .contactContainer {
    margin-left: 60px;
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 6.5rem;
  }
  
  .contactContainer .headers p {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 768px) {
  .contactContainer {
    margin-left: 60px;
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 6.5rem;
  }
  
  .contactContainer .headers p {
    font-size: 2rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 540px) {
  .contactContainer {
    margin-left: 60px;
    width: calc(100% - 60px);
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 4.5rem;
  }
  
  .contactContainer .headers p {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 430px) {
  .contactContainer {
    margin-left: 60px;
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 4.4rem;
  }
  
  .contactContainer .headers p {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 414px) {
  .contactContainer {
    margin-left: 60px;
    min-height: 100vh;
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 4rem;
  }
  
  .contactContainer .headers p {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 375px) {
  .contactContainer {
    margin-left: 60px;
    min-height: 100vh;
    width: calc(100% - 60px);
  }

  .contactContainer .headers {
    margin-bottom: 3rem;
  }

  .contactContainer .headers h1 {
    font-size: 3.5rem;
  }
  
  .contactContainer .headers p {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
}
